
@font-face{
    font-family: "Google-Sans" ;
    src: url('./assets/fonts/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf')
}


:root{
    --bg:#B7D5D4;
    --text:#488286;
    --buttonBg: #B7D5D4;
    --buttonText: #373E40;
    font-family: 'Google-Sans';
}

:root.dark{
    --bg: #488286;
    --text: #B7D5D4;
    --buttonBg: #373E40;
    --buttonText: #B7D5D4;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg);
    color: var(--text);
    margin: 0;
    padding: 0;
    font-family: "Google-Sans";
}

button{
    background-color: rgb(26, 102, 140);
    color: white;
    border:none;
    padding:10px;
    font-size: auto;

}

ul {
    margin: 0;
    padding: 0;
    background-color: var(--text);
    overflow: hidden;
    display: flex;
    align-items: center;
    list-style:none;
}


ul li {
    float:left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover{
    background-color: black;
}

ul li button:hover{
    background-color: black;
}

.logo{
    height:50px;
    width:auto;
    display: block;
    padding: 0 10px;
}